* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #8730e4, #2575fc);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
}

#box {
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  animation: fadeIn 0.8s ease;
}

h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.question {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 500;
}


.question img {
  width: 100%;          
  max-width: 320px;
  display: block;
  margin: 10px auto;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.timer {
  font-size: 22px;
  font-weight: 600;
  background: #fff;
  color: #333;
  padding: 8px 15px;
  width: fit-content;
  margin: 10px auto 20px;
  border-radius: 50px;
}

.options p {
  background: rgba(255, 255, 255, 0.2);
  margin: 12px 0;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.options p:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.next {
  padding: 10px 20px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  width: 30%;
}

.next:hover {
  background: #357abd;
}

.next:active {
  transform: scale(0.95);
}
